@tailwind base;
@tailwind components;
@tailwind utilities;


.completeTask {
  background-color: #444444;

}
.completeTask-dark {
  background-color: #999999;
  color: #333333; 

}

.date-highlight {
  color: #eab308;
  background-color: #581c87;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
}
